<% include ./partials/header.ejs %>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script> <!-- LinkedIn badge -->

<header class="jumbotron">
	<div class="container">
		<h3>More Information</h3>
		<ul>
			<li><a class="contact-link" href="https://github.com/tonyth00/campster"><i class="fab fa-github"></i> GitHub</a></li>
			<li><a class="contact-link" href="https://www.linkedin.com/in/huangdy"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
		</ul>

	</div>
	
	
</header>

<% include ./partials/footer.ejs %>