body {
	font-family: Raleway;
}


.thumbnail a img {
	object-fit: cover;
	width: 100%;
	height: 200px;
}

.thumbnail {
	padding: 0;
}

.delete-form {
	display: inline;
}

/* Google maps */
#map {
	height: 400px;
	width: 100%;
	margin-bottom: 20px;
}

#brand {
  font-weight: bold;
}

.bg-info a {
	color: black;
}

#alerts {
	margin-top: 80px;
}